
<%= @post.title %>

<%= @post.content %>

<% @post.categories.each do |category| %>
    <%= category.name %>
    <% end %>


<% @post.comments.each do |comment| %>
    <p><%= comment.user.username %> says: <%= comment.content %></p>
    <% end %>

<% @post.users.uniq.each do |user| %>
    <%= link_to user.username, user_path(user) %>
    <% end %>

    
<%= form_for @post do |f| %>
    <%= f.hidden_field :post_id, value: @post.id %>
    <%= f.fields_for :comments, @post.comments.build do |g| %>
        <%= g.text_field :content, id:"comment_content"  %>
        <%= g.collection_select :user_id, User.all, :id, :username, {include_blank: 'Select a user'}, {:id=>"comment_user_id"} %>
        <%= g.fields_for :users do |h| %>
            <%= h.text_field :username, id:"comment_user_attributes_username" %>
            <% end %>
      <% end %>
            <%= f.submit "Create Comment" %>
        <% end %>
